/* nasa_main_640.css */
/* device 환경 min : 640px, max : 1023px */

@media screen and (min-width: 640px) and (max-width: 1023px) {

  /* #headBox 사이즈 조정 */
  h1{
    width:70px; height:70px;
    background-size:cover;}

  #headBox{padding:20px; box-sizing: border-box; height:100px}

  .nav{float:left; width:85%; padding:0;}

  #gnb{display:none;}

  /* ==== #gnb_mob 설정 ============ */

  #gnb_mob_btn{
    float:right;
    margin-top: 7px;
    background-image: url(../../../img/icons/mob_head_menu.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width:6vw; height:6vw;
  }

  #gnb_mob_area{
    position:absolute; z-index:1000;
    top:100px; left:5%;
    width:90%; height:auto;
  }

  .gnb_mob_domain{width:100%; height:100%;}

  .gnb_mob_domain dl {
    width: 100%; height: auto;
    padding:8px; box-sizing: border-box;
    border-radius: 5px;
    background-color: #425067;
  }
  
  .gnb_mob_domain dt{
    width:100%; height:auto;
    background-color: #425067;
    border-bottom:1px solid #fff;
  }
  
  .gnb_mob_domain dt:hover,
  .gnb_mob_domain dt:focus{
    background-color: #132f51;
  }
  
  .gnb_mob_domain dt button{
    width: 100%; height: 50px;
    text-align: left;
    background-color: transparent;
    color:#fff; font-weight: bold; font-size:1.2rem;
  }
  
  .gnb_mob_domain dt i{
    float:right;
  }
  
  .gnb_mob_domain dd{
    display:none;
    width:100%; height:auto;
    background-color: #fff;
  }

  .gnb_mob_domain dd ul{
    width:100%; height:auto;
  }

  .gnb_mob_domain dd li{
    width:100%; height:40px;
    line-height:40px; padding-left: 10px; box-sizing: border-box;
    border-bottom: 1px solid #bbb;
    background-color: #333;
    color:#fff;
  }

  .gnb_mob_domain dd li:hover,
  .gnb_mob_domain dd li:focus{
    background-color: #132f51;
  }

  /* ================================= */

  #unb{
    float:left; margin-left:180px;
    width: 50%; height:6vw; background-color: transparent;
  }

  #search{border:2px solid #333; font-size:0.8rem;}

  .search_icon{margin-top:0; height:5vw;}
  .shareBox{margin-top:0; height:5vw;}

  /* viewBox 사이즈 조정*/
  #viewBox{
    width:100%; height:51.5625vw;}
  
  .mouse{display:none;}

  /* topicBox 사이즈 조정*/
  #topicBox{height:100vw;}

  .company_title{display:none;}

  .topic_area{top:0;}

  .topic_slide{width:100%; background-color: transparent;}

  .topic_slide > h3{float:left; font-size:3.5rem;}
  .topic_button{float:right; margin-top:10px;}

  /* infoBox 사이즈 조정*/
  #infoBox{
    height:140.625vw;
  }

  .info_area{
    width:100%; height:50%;
  }

  .info_area_01{margin-top:0;}
  .info_area_02{margin-top:0;}

  .info_area > a:hover{
    background-color: transparent;
  }

  .info_area > a > span{
    font-size:2rem;
    padding-top:46.875vw;
  }

  /* #programBox 세로 사이즈 조정 */
  #programBox{
    height:55vw;
    padding:50px; 
  }

  #programBox > h2{
    font-size:2rem;
  }

  .program_area{
    height:25.390625vw;
  }

  .program_area li{
    height:100%;
  }
  
  .program_area li > a > span{
    padding-top:50%;
    font-size:1.5rem;
  }

  /* footBox sns 사이즈 조정*/

  #footBox{height:37.5vw; padding:40px; padding-right:0;}
  #footBox > h2{width:50px; height:50px; background-size: cover;}

  .company_plan{margin-left:10px; width:83vw; height:50px;}

  .company_plan li{
    width:60px;
    font-size: 0.5rem;
    line-height:25px;
  }

  .snsBox{
    float:right;
    margin-top:1rem;
    margin-right: 0;
    width:62.5vw; height:60px;
  }
  
  .snsBox li{
    width:60px; height:60px;
  }
  





}